/* src/components/Contact.css */
.contact {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #555;
}

.contact h2 {
  color: #333;
}

.contact .contact-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.contact .icon {
  font-size: 2em;
  margin: 0 15px;
  color: #555;
}

.contact .icon:hover {
  color: #dcfce7;
  transition: color 0.3s ease-in-out;
}
