/* src/styles/Footer.css */
.footer {
  display: flex;
  flex-wrap: wrap; /* Added */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap; /* Added */
  justify-content: center; /* Updated */
}

.textFooter {
  margin: 0 15px;
  color: #555;
}

.icon {
  font-size: 2em;
  margin: 10px 10px 10px 0;
  color: #555;
}

.icon:hover {
  color: #dcfce7;
  transition: color 0.3s ease-in-out;
}