/* global.css */
:root {
  color-scheme: light dark;
  overflow-x: hidden;
  background-color: #212121;
}

body {
  font-family: 'system-ui', sans-serif;
  margin: -50px;
  padding: 0;
}

/* Selection Styles */
::-moz-selection {
  color: #fff; /* Text color for Firefox */
  background: #333; /* Background color for Firefox */
}

::selection {
  color: #fff; /* Text color for other browsers */
  background: #333; /* Background color for other browsers */
}

/* width */
::-webkit-scrollbar {
  width: 0.1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5; /* Cambia el color de fondo de la pista */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3498db; /* Cambia el color del manejador del scrollbar */
  border-radius: 5px; /* Añade bordes redondeados al manejador */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2980b9; /* Cambia el color del manejador al pasar el mouse */
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
}
